* {
    margin: 0;
    padding: 0;
}

body {
    margin: 8px;
}

ul {
    list-style-type: none;
}

.tabs__controls, .tabs__controls1 {
    text-align: left;
    padding-left: 2%;
}

.tabs__controls-item, .tabs__controls1-item {
    display: inline-block;
    margin: 0 1px -1px 0;
    background: #efeaeb;
    border: 1px solid #D4D4D4;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
}

.tabs__controls-item_active .tabs__controls1-item_active {
    background: #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
}

.tabs__controls-link, .tabs__controls1-link {
    text-decoration: none;
    color: #949494;
    display: inline-block;
    padding: 3px 15px;
}

.tabs__controls-item:hover .tabs__controls-link, .tabs__controls1-item:hover .tabs__controls1-link {
    color: #ff7d8a;
}

.tabs__controls-item_active .tabs__controls-link, .tabs__controls1-item_active .tabs__controls1-link {
    color: #ff7d8a;
}

.tabs__list, .tabs__list1 {
    width: 60%;
    margin-left: 1%;
    margin-bottom: 50px;
}

.tabs__item, .tabs__item1 {
    display: inline-block;
    padding: 20px;
    display: none; /* прячем все блоки */
    border: 1px solid #DDD;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    background: #F9F9F9;
}

.tabs__item_active, .tabs__item1_active {
    display: block; /* показываем нужный блок */
}
