.sidebar{
	opacity: 0;
	width: 0;
	-webkit-transition: 250ms ease;
	-o-transition: 250ms ease;
	transition: 250ms ease;
}

.content{
	margin-left: 0;
	-webkit-transition: 250ms ease;
	-o-transition: 250ms ease;
	transition: 250ms ease;
}