ul{
	list-style-type: none;
}

.accordeon__item{
	margin-bottom: 35px;
}

.accordeon__trigger{
	display:block;
	position: relative;
	font-size:19px;
	color:#18BC9C;
	text-decoration: none;
	text-transform: uppercase;
}

.accordeon__trigger::before{
	content: "";
	display:block;
	width:0;
	height:0;
	position:absolute;
	left:-18px;
	top:8px;
	border:5px solid transparent;
	border-bottom:0px;
	border-top:7px solid #18BC9C;
	transition:.4s;
}

.accordeon__inner{
	padding:0;
	padding-top: 14px;
	display:none;
}

.accordeon__item_active .accordeon__trigger{
	color:#ff7d8a;
}

.accordeon__item_active .accordeon__trigger::before{
	transform: rotate(-90deg);
	border-top-color: #ff7d8a;
}